:root {
  --background: #474448;
  --font-accent: #F1F0EA;
  --main-accent: rgba(45, 35, 46, 0.33);
  --secondary-accent: #534B52;
  --just-an-accent: #E0DDCF;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins";
  font-size: 16pt;
}

.vertical-navigation {

  height: 100vh;
  width: 30%;
  position: relative;
}

.vertical-navigation[aria-hidden="true"] {
  left: -1000px;
  transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.vertical-navigation[aria-hidden="false"] {
  left: 0;
  transition: all 1s cubic-bezier(0.3, 1, 0.2, 1);
}

.vertical-navigation-container {
  background-image: url('/assets/nav-bg.jpg');
  backdrop-filter: blur(20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  position: relative;
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.head {
  width: 100%;
  user-select: none;
  margin-top: auto;
  margin-bottom: auto;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.head:hover {
  transform: scale(1.1, 1.1);
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.intro {
  color: var(--font-accent);
  font-size: 3vh;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
}

.slogan {
  color: var(--font-accent);
  opacity: 30%;
  max-width: 50%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 2vh;
}

.vertical-navigation .checkbox {
  position: absolute;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 5;
  opacity: 0;
  cursor: pointer;
}

.vertical-navigation .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: absolute;
  top: 17px;
  left: 20px;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.vertical-navigation .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: var(--font-accent);
}

.vertical-navigation .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transform: rotate(45deg);
  transition: transform 0.4s ease-in-out;
}

.vertical-navigation .hamburger-lines .line2 {
  transform: scaleY(0);
  transition: transform 0.2s ease-in-out;
}

.vertical-navigation .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transform: rotate(-45deg);
  transition: transform 0.4s ease-in-out;
}
.vertical-navigation input[type="checkbox"]:checked ~ .vertical-navigation-container {
  transform: translateX(-5000px);
  transition: all 0.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.vertical-navigation input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(0deg);
  filter: invert(100%);
}

.vertical-navigation input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(1);
  filter: invert(100%);
}

.vertical-navigation input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(0deg);
  filter: invert(100%);
}

@media only screen and (max-width: 1201px) {
  .vertical-navigation {
    width: 30%;
  }
}

@media only screen and (max-width: 1100px) {
  .vertical-navigation {
    width: 50%;
  }
}

@media only screen and (max-width: 991px) {
  .vertical-navigation {
    width: 50%;
  }
}
@media only screen and (max-width: 544px) {
  .vertical-navigation {
    width: 60%;
  }
}
@media only screen and (max-width: 360px) {
  .vertical-navigation {
    width: 80%;
  }
}

.links {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.link {
  display: block;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-decoration: none;
  color: var(--font-accent);
  width: 100%;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.active {
  background-color: var(--background);
}


.link:hover {
  background-color: var(--font-accent);
  color: var(--background);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.nav-footer {
  color: var(--font-accent);
  font-size: small;
  width: 100%;
  text-align: center;
  opacity: 50%;
  margin-top: auto;
  margin-bottom: 1rem;
}